* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(
    180deg,
    #64beff -50%,
    #6e96ff 69.71%,
    #2a65ff 150%
  );
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  position: absolute;
  width: 240px;
  height: 208px;
  background: url(/images/map.png) no-repeat no-repeat;
  transform: scale(3);
  image-rendering: pixelated;
}

.player-info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em;
  display: flex;
  gap: 0.5em;
  align-items: flex-end;
}

.player-info div {
  display: flex;
  flex-direction: column;
}

.timer-container {
  position: fixed;
  left: 1rem;
  top: 8.3rem;
  background: #59ff5a;
  color: black;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-family: "Source Sans Pro", monospace;
}

.timer-wrapper {
  text-align: center;
}

#timer {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 2px;
}

.round-container {
  position: fixed;
  left: 1rem;
  top: 13rem;
  background: #59ff5a;
  color: black;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-family: "Source Sans Pro", monospace;
}

#round {
  font-size: 24px;
  font-weight: bold;
}

#mute-btn {
  position: fixed;
  left: 1rem;
  top: 17rem;
  z-index: 1000;
  background: #59ff5a !important;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.08);
  transition: background 0.2s;
  display: block;
}

#mute-btn:hover {
  background: #43d13a !important;
}

#mute-icon {
  width: 36px;
  height: 36px;
  display: block;
}

.leaderboard-container {
  position: fixed;
  right: 1rem;
  top: 1rem;
  background: #59ff5a;
  color: black;
  padding: 1rem;
  border-radius: 4px;
  min-width: 200px;
}

.leaderboard-container h2 {
  margin: 0 0 1rem 0;
  text-align: center;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0;
  color: black;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  border-bottom: 1px solid white;
}

.round-end-popup {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  background: #59ff5a;
  color: black;
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
}

.round-end-popup button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  background: white;
  color: #59ff5a;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
button {
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 44px;
  border-radius: 4px;
  outline: 0;
}

input[type="text"] {
  outline: 0;
  padding-left: 0.5em;
  border: 3px solid #222034;
  width: 150px;
  text-transform: uppercase;
}
input[type="text"]:focus {
  border-color: #f000ff;
}

button {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: #59ff5a;
  border: 0;
  border-bottom: 2px solid #1e830b;
  cursor: pointer;
}
button:active {
  position: relative;
  top: 1px;
}

.grid-cell {
  position: absolute;
  width: 16px;
  height: 16px;
}
.Character {
  transition: transform 0.4s;
}
.Character.you {
  z-index: 1;
}
.Character.you .Character_you-arrow {
  display: block;
}
.Character_you-arrow {
  display: none;
  position: absolute;
  top: -18px;
  left: 5px;
  width: 7px;
  height: 5px;
  background: url(/images/arrow.png) no-repeat no-repeat;
}
.Character_sprite {
  overflow: hidden;
  top: -3px;
  background: url(/images/characters.png);
}
.Character[data-direction="right"] .Character_sprite {
  background-position-x: 16px;
}
.Character[data-color="red"] .Character_sprite {
  background-position-y: -16px;
}
.Character[data-color="orange"] .Character_sprite {
  background-position-y: -32px;
}
.Character[data-color="yellow"] .Character_sprite {
  background-position-y: -48px;
}
.Character[data-color="green"] .Character_sprite {
  background-position-y: -64px;
}
.Character[data-color="purple"] .Character_sprite {
  background-position-y: -80px;
}
.Character_shadow {
  background: url(/images/shadow.png) no-repeat no-repeat;
}

.Character_name-container {
  position: absolute;
  top: -12px;
  left: -5px;
  font-size: 5px;
  padding: 1px 2px 1px;
  border-radius: 3px;
  background: #333;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}
.Character_trash {
  margin-left: 1px;
  color: gold;
}

.trash_sprite {
  background: url(/images/trash.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
}

.trash_sprite.banana {
  background: url(/images/banana.png) no-repeat no-repeat;
  animation: coinFloat 0.8s linear infinite alternate-reverse;
}

@keyframes coinFloat {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(5px);
  }
}
.trash_shadow {
  background: url(/images/trash-shadow.png) no-repeat no-repeat;
}

.mobile-controls button {
  opacity: 0;
}

.round-end-popup.active ~ .mobile-controls {
  display: none !important;
}

@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
  }
  html {
    font-size: 1rem;
    background-size: cover;
    background-attachment: fixed;
  }
  .game-container {
    position: relative;
    order: 2;
    transform: scale(1.6);
    margin: 0 auto;
  }

  .player-info {
    margin-top: 30px;
    order: 1;
    z-index: 10;
  }

  .timer-container {
    position: absolute;
    left: 1rem;
    top: 10rem;
    padding: 10px 10px;
    border-radius: 5px;
  }

  #timer {
    font-size: 20px;
  }

  .round-container {
    top: 13.5rem;
    padding: 10px 10px;
    border-radius: 5px;
  }

  #round {
    font-size: 20px;
    font-weight: bold;
  }

  .leaderboard-container {
    background: #59ff5a;
    color: black;
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px;
    min-width: 200px;
  }

  .leaderboard-container h2 {
    text-align: center;
  }

  .leaderboard-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 5px 0;
  }

  .round-end-popup {
    position: absolute;
  }

  .mobile-controls {
    order: 1;
    position: fixed;
    left: calc(50% - 30px);
    padding-top: 500px;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    flex-direction: column;
    align-items: center;
  }

  .mobile-controls button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 1;
    font-family: initial;
  }

  .mobile-controls .horizontal-controls {
    left: 50%;
    position: relative;
    gap: 50px;
    transform: translateX(-90.5%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 10px;
  }
  .mobile-controls button:last-child {
    margin-bottom: 0;
  }
  .controller {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(
      255,
      255,
      255,
      0.8
    ); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
}